# Lab 4

In [15]:
name = "Muhammad Haziq Faiz Bin Mohd Ripin"
sid  = "1201302740"

For this Lab you'll be looking at 2017 data on immunizations from the CDC (USA). 

Your datafile for this Lab is in [NISPUF17.csv](NISPUF17.csv). 

A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [NIS-PUF17-DUG.pdf](NIS-PUF17-DUG.pdf).

Refer to the pdf document for the meaning of column titles.

Write sufficient Python code using pandas and numpy to answer all the following questions.
You might be required to drop some of the rows when answering the questions.

> *adopted from coursera data science course.*

## Question 0

0.  Import the pandas and numpy libraries
1.  Read the csv file and store it in data (a dataframe).
2.  Explore the data in the csv file.
3.  Drop any extra index generated.
4.  Scan through the 4 questions below and identify the names of variables required to solve the questions.

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("NISPUF17.csv")
df=df.drop(["Unnamed: 0"],axis=1)
df

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28461,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

<font size=3 color='RED'>
{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}
</font>

In [5]:
def proportion_of_education():

    dictionary ={}
    total = len(df[["EDUC1"]])
    dictionary["less than high school"] = len(df[df["EDUC1"]==1])/total
    dictionary["high school"] = len(df[df["EDUC1"]==2])/total
    dictionary["more than high school but not college"] = len(df[df["EDUC1"]==3])/total
    dictionary["college"] = len(df[df["EDUC1"]==4])/total
    return dictionary

proportion_of_education()

AttributeError: 'dict' object has no attribute 'round'

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

<font size=3 color='RED'>
(1.8799187420058687, 1.5963945918878317)
    </font>

In [86]:
def average_influenza_doses():
    
    temp = df[["CBF_01","P_NUMFLU"]].dropna()
    
    #Create 2 new df to store breastfed and non-breastfed children
    bf = temp[temp["CBF_01"]==1]
    nobf = temp[temp["CBF_01"]==2]
    
    #use groupby to get the average
    bf = bf.groupby("CBF_01").mean()
    nobf = nobf.groupby("CBF_01").mean()
    
    #tuple is immutable, use sum() to change it from series to float
    return (bf["P_NUMFLU"].sum(),nobf["P_NUMFLU"].sum())

average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

<font size=3 color='RED'>
{'male': 0.009675583380762664, 'female': 0.0077918259335489565}
</font>

In [81]:
#for HAD_CPOX, 1=YES 2=NO
#for SEX, 1=MALE 2=FEMALE
def chickenpox_by_sex():
    
    temp = df[["SEX","HAD_CPOX","P_NUMVRC"]].dropna()
    male = temp[temp["SEX"]==1]
    female = temp[temp["SEX"]==2]
    
    #Remove unvaccinated children
    male = male[male["P_NUMVRC"]>0]
    female = female[female["P_NUMVRC"]>0]
    
    #Group by HAD_CPOX
    male = male.groupby("HAD_CPOX").count()
    female = female.groupby("HAD_CPOX").count()

    return {"male":male.iloc[0,1] / male.iloc[1,1],"female":female.iloc[0,1] / female.iloc[1,1]}

chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more no’s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

<font size=3 color='RED'>
0.07044873460147986
</font>

In [7]:
import scipy.stats as stats
   
def fun():
    
    #drop row with nan
    temp = df[["HAD_CPOX","P_NUMVRC"]].dropna()
    #filter out HAD_CPOX with invalid response 
    temp = temp[(temp["HAD_CPOX"]<3)&(temp["HAD_CPOX"]>0)]
    
    corr, pval=stats.pearsonr(temp['HAD_CPOX'],temp['P_NUMVRC'])
    return corr

corr=fun().round(6)
corr

0.070449