# **Lab 4**

## Data Wrangling

In this lab, you will learn various ways of manipulating (including some cleaning) data such as merging data, duplicate removal, addressing missing data and transformation functions and mappings. You will also go through two sample use cases using car price data and minimum wage data, and proceed to apply some of these techniques learned earlier. Finally, the processed data is turned into some simple descriptive analytics to churn out meaningful insights from visualizations.

> **Credit note:** A portion of this lab was adapted from [this fantastic tutorial](https://lectures.quantecon.org/py/pandas_panel.html) from QuantEcon and `prakharrathi25`'s [Kaggle kernel](https://www.kaggle.com/prakharrathi25/data-wrangling/) on data wrangling.

> *From Introduction to Data Science (Tri 2020)*

In [2]:
import numpy as np
import pandas as pd

**Preparation**: Go ahead and upload all the data files needed in this lab to the Colab session (all 3 files).

<hr>

Let's have a look at a classic dataset from UCI Machine Learning called the [Automobile Dataset](https://archive.ics.uci.edu/ml/datasets/automobile) which was later re-shared at Kaggle [here](https://www.kaggle.com/rickyrrii/old-car-price-data). This dataset is notoriously famous for being incomplete and noisy at best. In order for this data to be used for building a decent regression model (that is, a model that can predict car prices given a bunch of attributes), the data needs to be properly cleaned.

The dataset is in the `.txt` file while the other `.names` file (open in any text editor) contains information of what are the attributes (columns) of the dataset.

In [97]:
cols = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
cars = pd.read_csv('imports-85.data.txt', names=cols)
print(cars.shape)
cars.head()

(205, 26)

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

As we can see, there are some question marks appearing in the dataframe, and those are basically missing data that may hinder our further analysis.

### Cleaning Missing Data

Pandas uses the floating point value '**NaN**' (Not a Number) to represent missing data in both floating and non-floating point arrays. It also has its use as a sentinel that can be easily detected:

In [4]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
print(string_data)
print(string_data.isnull())     # isnull() checks for values that are NaN

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object
0    False
1    False
2     True
3    False
dtype: bool

Here are some NaN handling methods: `dropna`, `fillna`, `isnull`, `notnull`

On a Series, it returns the Series with only the non-null data and index values:

In [5]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
print(data)

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

To simplify the use of `np.nan`, we can fix an alias `NA` for easy use:

In [6]:
from numpy import nan as NA

data = pd.Series([1, NA, 3.5, NA, 7])
print(data)

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [7]:
print(data[data.notnull()])     # notnull() acts as a boolean index for data

0    1.0
2    3.5
4    7.0
dtype: float64

With DataFrames, you may want to drop rows or columns which are all NA or just those containing any NAs. `dropna` by default drops any row containing a missing value:

In [18]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
print(data)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [9]:
print(data.dropna())

     0    1    2
0  1.0  6.5  3.0

This seems so "strict"... As long as there is a single NaN, the row will be dropped.

Passing `how='all'` will only drop rows that are all NA (watch row 2):

In [10]:
print(data.dropna(how='all'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

> **Note**: `axis=0` is default, that is row-wise, using `axis=1` indicate column-wise. Dropping columns in the same way is only a matter of passing `axis=1`.

In [17]:
#Assign entire column as NA
data[0] = NA
print(data)

    0    1    2
0 NaN  6.5  3.0
1 NaN  NaN  NaN
2 NaN  NaN  NaN
3 NaN  6.5  3.0

In [ ]:
print(data.dropna(axis=1, how='all'))

Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the "holes" in several ways.

Calling `fillna` with a constant replaces missing values with that value:

In [19]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
print(data)
print()
print(data.fillna(0))   # fill with 0

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

Calling `fillna` with a dict, you can use a different fill value for each column. The keys in the dict denotes the column index, while its corresponding value denotes the replacement value.

In [20]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
print(data)
print()
print(data.fillna({1: 0.5, 2: -1}))   # fill in column 1 with 0.5 and column 2 with -1

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.5 -1.0
2  NaN  0.5 -1.0
3  NaN  6.5  3.0

You can fill NA with the mean value of the data (can be either a good intuitive approach or a totally bad approach sometimes...)

In [21]:
data = pd.Series([1., NA, 3.5, NA, 7])
print(data.fillna(data.mean()))

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

Check out `fillna`'s function arguments: `value`, `method`, `axis`, `inplace`, `limit`

In [ ]:
?data.fillna()

### Cleaning Duplicated Data

The DataFrame method `duplicated()` returns a boolean Series indicating whether each row is a duplicate or not. Relatedly, `drop_duplicates()` returns a DataFrame without the duplicated entries (which are True).

In [22]:
#remove duplicates
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
'k2': [1, 1, 2, 3, 3, 4, 4]})

print(data)
print(data.duplicated())
print()
print(data.drop_duplicates())

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4
0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

You can specify additional criteria to detect for duplicates. Suppose we had an additional column of values and we want to filter duplicates only based on the 'k1' column:

In [23]:
data['v1'] = range(7)    # add another column just to know which row is kept
print(data)
print()
print(data.drop_duplicates(['k1']))

    k1  k2  v1
0  one   1   0
1  one   1   1
2  one   2   2
3  two   3   3
4  two   3   4
5  two   4   5
6  two   4   6

    k1  k2  v1
0  one   1   0
3  two   3   3

---
OK. Going back to the Automobile data, you can choose to convert the "?" symbols to NaN (which allow us to use those functions just now)

In [70]:
cars = cars.replace("?", NA)
cars.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450

Now, to quickly get the big picture of the condition of the data, we can try to find out how many NaNs are there in each of these columns. Remember: indices of a dataframe refer to the columns, so applying a function to a dataframe will be effective on the columns first.

In [29]:
cars.isnull().sum()
cars[["symboling"]].isnull().sum()

symboling    0
dtype: int64

Based on this summary, we can see that `normalized-loss` attribute has the most NaN values, while there are a few others also have incomplete data.

In [30]:
cars.dtypes     # this shows all the data types within the dataframe

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

Numeric operations such as mean or max cannot be applied to object types. Take this example:

In [31]:
cars["horsepower"].mean()
# try this as well:
# cars["horsepower"].max()

TypeError: can only concatenate str (not "int") to str

The right way to handle this is to force the conversion to numeric on a specific series.

In [32]:
print(cars["horsepower"].dtype)
hp_num = pd.to_numeric(cars["horsepower"], errors='coerce')
print(hp_num.dtype)
print(hp_num.mean())

object
float64
104.25615763546799

**Q1**: Replace the NaN data in `normalized-loss`, `peak-rpm`, `horsepower`, `bore`, `stroke` with their respective mean values.

In [94]:
# fill in here
cars["normalized-losses"]= pd.to_numeric(cars["normalized-losses"],errors="coerce")
cars["normalized-losses"]=cars["normalized-losses"].fillna(cars["normalized-losses"].mean())

cars["peak-rpm"]= pd.to_numeric(cars["peak-rpm"],errors="coerce")
cars["peak-rpm"]=cars["peak-rpm"].fillna(cars["peak-rpm"].mean())

cars["horsepower"]= pd.to_numeric(cars["horsepower"],errors="coerce")
cars["horsepower"]=cars["horsepower"].fillna(cars["horsepower"].mean())

cars["bore"]= pd.to_numeric(cars["bore"],errors="coerce")
cars["bore"]=cars["bore"].fillna(cars["bore"].mean())

cars["stroke"]= pd.to_numeric(cars["stroke"],errors="coerce")
cars["stroke"]=cars["stroke"].fillna(cars["stroke"].mean())


cars[["normalized-losses","peak-rpm","horsepower","bore","stroke"]]
# note: Pandas cannot convert NaN to integer or floats, so to solve this
# we need to convert the dataframe to numeric with errors=coerce option
# after that, we can safely compute the mean, ignoring those

     normalized-losses  peak-rpm  horsepower  bore  stroke
0                122.0    5000.0       111.0  3.47    2.68
1                122.0    5000.0       111.0  3.47    2.68
2                122.0    5000.0       154.0  2.68    3.47
3                164.0    5500.0       102.0  3.19    3.40
4                164.0    5500.0       115.0  3.19    3.40
..                 ...       ...         ...   ...     ...
200               95.0    5400.0       114.0  3.78    3.15
201               95.0    5300.0       160.0  3.78    3.15
202               95.0    5500.0       134.0  3.58    2.87
203               95.0    4800.0       106.0  3.01    3.40
204               95.0    5400.0       114.0  3.78    3.15

[205 rows x 5 columns]

In [53]:
cars.iloc[:,2] #this one gets all rows in a column

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

Check again...

In [95]:
cars.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

So we have not tackled the missing values in `num-of-doors` which appears to be a category, which is a string.

Naively, we can replace the missing values with the most frequently appearing category.

In [54]:
cars["num-of-doors"].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

Use the `idxmax()` function to directly pull out the value that corresponds to the item with the max value count.

In [55]:
cars["num-of-doors"].value_counts().idxmax()

'four'

Then, go ahead and replace the missing `num-of-doors` value by the most frequent value "four".

In [92]:
cars["num-of-doors"].replace({NA:"four"}, inplace=True) 
# inplace=True allows replacement to take place in the dataframe itself

cars.isnull().sum()    # check again

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

**Q2**: Drop all rows that do not have the price data. **Hint**: Use dropna(), specify which column to operate on with `subset` parameter

In [91]:
# fill in here
cars.dropna(subset=["price"],inplace=True)

cars.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

**Verify**: The data should have 201 rows after all the cleaning is done.

In [ ]:
cars.shape

In [ ]:
cars.dtypes

Notice from the data type printout above, some attributes have incorrect data types. For example, `bore` and `stroke` should both be numeric values (int or float), but they are assigned to be an object instead (such as a string) when the data was read earlier. This will cause problems in further processing that requires values to be numerical.

To convert them into the appropriate data types:

In [ ]:
cars[["bore", "stroke"]] = cars[["bore", "stroke"]].astype("float")
cars[["normalized-losses"]] = cars[["normalized-losses"]].astype("int")
cars[["price"]] = cars[["price"]].astype("float")
cars[["peak-rpm"]] = cars[["peak-rpm"]].astype("float")
cars[["horsepower"]] = cars[["horsepower"]].astype("int")
cars.dtypes

With all these steps, the data should now be clean and ready for further processing!

### Data Normalization

Sometimes, you may want to normalize numeric data to reap its benefits during data modeling. Pandas does not have a normalize function, so you can either compute a normalization operation on the column itself, or you get Numpy's help to normalize values in the column. Typically, most normalizations want to scale the numeric values to a standard range (between 0 and 1 for e.g.), or to scale values according to the distribution such that the variance = 1 and average = 0.

The car lengths looked like this:

In [ ]:
cars['length']

Normalizing by the maximum value is quite easy. Just divide all values by the max!

In [ ]:
cars['length']/cars['length'].max()

This gives us an idea of how far is the relative length of each car from the length of the longest car.

To directly replace the values in that column and also in the `width` and `height` columns:

In [ ]:
# make a deep copy - separate copy from the original cars2 = cars would not work, it's a shallow copy
cars2 = cars.copy()

In [ ]:
cars2['length'] = cars['length']/cars['length'].max()
cars2['width'] = cars['width']/cars['width'].max()
cars2['height'] = cars['height']/cars['height'].max()

In [ ]:
# check
cars2[["length", "width", "height"]]

A more common way of normalizing is to use both the minimum and maximum to adjust the values. This is called a min-max normalization.

$$\hat{x} = \frac{x-x_{min}}{x_{max}-x_{min}}$$

**Q3**: Compute the z-normalized value for `engine-size` and replace its values in `cars2` dataframe.

$$\hat{x} = \frac{x-\mu}{\sigma}$$

In [ ]:
# fill in here


# there are 2 other ways to do this: using pandas apply() with lambda function, use scipy.stats zscore function

### Data Transformation

One of the methods that we have learned is **binning**, a process of grouping or categorizing numeric data into discrete "bins" or distinct baskets, which is one of the ways of dealing with noisy data.

In this data, `horsepower` is a real valued variable ranging from 48 to 288, it has 57 unique values in total. What if we only care about the price difference between cars with "high" horsepower, "medium" horsepower, and "low" horsepower (3 types)? Can we rearrange them into three ‘bins' to simplify analysis?

In [ ]:
cars2["horsepower"].dtype

To get an idea of how the values are distributed, use matplotlib library to plot its histogram:

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.hist(cars2["horsepower"])

# set x/y labels and plot title
plt.xlabel("horsepower")
plt.ylabel("count")
plt.title("horsepower bins")

We want 3 bins of equal size so we can use Numpy's `linspace(start_value, end_value, numbers_generated)` function. To build 3 bins, we need to define 4 dividers or boundaries:

In [ ]:
bins = np.linspace(min(cars2["horsepower"]), max(cars2["horsepower"]), 4)
bins

So these are the dividers of the 3 bins, if we were to give it the starting value, ending value, and the number of values to be generated at equal intervals.

Let's create the bin group names.

In [ ]:
group_names = ['Low', 'Medium', 'High']

We can now apply the pandas function `cut` to determine what each value of horsepower belongs to:

In [ ]:
cars2['horsepower-binned'] = pd.cut(cars2['horsepower'], bins, labels=group_names, include_lowest=True )

In [ ]:
cars2[['horsepower','horsepower-binned']].head(15)

In [ ]:
cars2["horsepower-binned"].value_counts()

Let's plot the distribution of the bins.

In [ ]:
plt.bar(group_names, cars2["horsepower-binned"].value_counts())

# set x/y labels and plot title 
plt.xlabel('Horsepower')
plt.ylabel("Count")
plt.title("Horsepower Bins")

In [ ]:
# check the dataframe again, you should see the new horsepower-binned column right at the end
cars2.head()

If you are satisfied with the data you have cleaned so far, you can save it into a CSV file and store it away for later use.

In [ ]:
# Convert to CSV file
cars2.to_csv('car_data_CLEANED.csv')

### Combining Data

Sometimes we may encounter a situation where we have data coming in from multiple sources, and we want to combine the data into a single consolidated dataframe.

Data contained in pandas objects can be combined together using a number of built-in functions. Among them are:

* **`merge()`** connects rows in DataFrames based on one or more keys. Similar to *inner join* (intersection of keys) operation in RDBMS. Here's some visuals to refresh your memory...
![DB joins](https://i.stack.imgur.com/1UKp7.png)

In [ ]:
# we have two DataFrames here, 
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})
print(df1)
print(df2)

In [ ]:
dfMerged = pd.DataFrame.merge(df1,df2)
print(dfMerged)

Obviously, doing an *inner join* or a merging of two DataFrames by virtue of the intersection of the two makes sense if we have partial data coming from both sets of data. We can only be sure to preserve keys (and their respective values) that appear on *both* sets of data. An inner join discards data that only appear on one set of data -- for the case of data with key 'c' and 'd'.

However, if you choose to trust all possible data coming from both Dataframes, you may opt for an "outer" merge. Incomplete data will automatically be assigned with a NaN.

In [ ]:
dfmergedOuter = pd.merge(df1, df2, how="outer")
print(dfmergedOuter)

# you can also try 'left' and 'right' merge options

`concat()` glues or stacks together objects along an axis. DataFrames can be grouped along its rows (axis=0) or its columns (axis=1) (take note of the convention used in python in axis numbering). Compare the difference between a numpy concat and a pandas concat.

In [ ]:
# using numpy concatenate
arr = np.arange(12).reshape((3, 4))
print(arr)
arrN=np.concatenate([arr, arr], axis=1)     # change to axis=0
print(arrN)

# pandas concat
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

concatSeries=pd.concat([s1, s2, s3], axis=1)  # change to axis=0 
print(s1)
print(s2)
print(s3)
print(concatSeries)

By default, pandas concat works along axis=0 if unspecified.

To provide column names for DataFrames, use the parameter `columns` to specify a list of corresponding column names. Upon combination multiple DataFrames, you can also specify keys for the merged subsets. This allows you to quickly access back the previously concatenated subsets.

In [ ]:
#data frames and column names
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'], columns=['one', 'two'])
print(df1)
df2 = pd. DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'], columns=['three', 'four'])
print(df2)
dfConcat=pd.concat([df1, df2], axis=1, keys=['level1', 'level2'])
print(dfConcat)

In [ ]:
dfConcat['level2']

## Use Case: OECD Minimum Wage Data

Let's try our hand at another dataset containing the minimum wages collected from the [OECD](https://en.wikipedia.org/wiki/OECD) group of 32 countries.  

The dataset in CSV has been provided: `oecd_minwage.csv`.

In [ ]:
wage = pd.read_csv('oecd_minwage.csv')

Let's have a look at the dataframe (show first 5 frames):

In [ ]:
wage.head(30)

The current data condition is difficult to anlayze since there are several dimentions to the data, and that each of these dimensions seemed to be in different formats.

Let's have a peek at various portions of the data. (Note: In pandas, `iloc` method allows direct positional access, just like how we would do for a numpy array.)

In [ ]:
wage.iloc[7:11, 1:5]

In [ ]:
wage.iloc[51:55, 1:5]

In [ ]:
wage.iloc[260:264, 1:5]

It appears that we have rows further down that belong to a different country, but contain the same 'Time' attribute. There are also information representing different 'Pay period'.

If we were to analyze all these data based on the 'Time' (in other words, the year of the data), then we need to re-organize the data a little. This is where a **pivot table** comes into play. A pivot table performs some summarization or re-organization of the data into a more compact looking table so that it can be meaningfully interpreted or used further for visualization purposes.

We will use `pivot_table` to create a wide format panel, with a `MultiIndex` to handle higher dimensional data. `pivot_table` arguments should specify the data (values), the index, and the columns we want in our resulting dataframe

By passing a list in columns, we can create a MultiIndex in our column axis.

In [ ]:
wage_pt = wage.pivot_table(values='value',
                        index='Time',                                 # this is the new index of the pivot table
                        columns=['Country', 'Series', 'Pay period'])  # this specifies grouped columns with multiple indices 
wage_pt.head()

To more easily filter our time series data later on, we will convert the index into a [`DateTimeIndex`](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DatetimeIndex.html).

In [ ]:
wage_pt.index = pd.to_datetime(wage_pt.index)
type(wage_pt.index)

The columns contain multiple levels of indexing, known as a `MultiIndex`, with levels being ordered hierarchically (Country > Series > Pay period). This is known as "concept hierarchy generation".

A `MultiIndex` is the simplest and most flexible way to manage panel data in pandas

In [ ]:
type(wage_pt.columns)

In [ ]:
wage_pt.columns.names

Like before, we can select the country (the top level of our MultiIndex):

In [ ]:
wage_pt['Japan'].head()

Here's a nifty trick if you need to look at the pivot table in a different way. "Stacking" and "unstacking" levels of the `MultiIndex` can be used to reshape the dataframe into a desired format.

`stack()` rotates the lowest level of the column `MultiIndex` to the row index, while `unstack()` works in the opposite direction (try it out).

In [ ]:
?wage_pt.stack()

In [ ]:
wage_pt.stack().head()

We can also pass in an argument to select the level we would like to stack (notice how it also auto-sorts that level in order)...

In [ ]:
wage_pt.stack(level='Country').head(30)

Using `DatetimeIndex` for 'Time' makes it easy to select a particular time period.

Selecting one year and stacking the two lower levels of the `MultiIndex` creates a cross-section of our panel data.

In [ ]:
wage_pt['2016'].stack(level=(1,2)).transpose().head()

To create a filtered dataframe that only takes the hourly minimum wages across countries and time, we can use the `xs()` method to select a cross-section of the data, taking values at lower levels in the multi-index, while keeping the higher levels (countries in this case)

In [ ]:
wage_f = wage_pt.xs(('Hourly', 'In 2015 constant prices at 2015 USD exchange rates'),
                     level=('Pay period', 'Series'), 
                     axis=1 )
wage_f.head()

Now, this filtered dataframe looks good to be used for some analysis and visualizations.

### Grouping and Summarizing data

Grouping and summarizing data can be particularly useful for understanding large panel datasets. A simple way is to call an aggregation method on the dataframe, such as `.mean()` or `.max()` which is really quick and easy.

For example, we can calculate the average real minimum wage for each country over the period 2006 to 2016 (the default is to aggregate over rows since rows typically constitute data samples)

In [ ]:
wage_f.mean()

Using this, we can now plot the average minimum wage over a 10-year period (2006-2016) for each OECD country.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

matplotlib.style.use('seaborn')        # use matplotlib but with seaborn styles...

In [ ]:
# plotting can be done directly on the dataframe using
wage_f.mean().sort_values(ascending=False).plot(kind='bar', title="Average minimum wage 2006 - 2016")

#Set country labels
country_labels = wage_f.mean().sort_values(ascending=False).index.get_level_values('Country').tolist()
plt.xticks(range(0, len(country_labels)), country_labels)
plt.xlabel('Country')

plt.show()

**Q4**: Figure out how to aggregate over columns, giving the average minimum wage for all countries over the time period. (Hint: the `axis` by default is aggregating over rows).This is what we call a *time series* graph, data over time.

In [ ]:
# write your code here